* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.pic{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 20px;
  margin: auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.pic>img{
  width: 100%;
  height: calc(100vw/2);;
  object-fit: cover;
  border:1px solid;
}
.App_input{
  text-align: center;
  padding: 20px;
}
@media all and (min-width: 768px) {
  .pic{
    width: 60%;
  }
  .pic>img {
    height: 300px;
  }
}